

 .btn:hover{
    background-color: brown;
    color: black
    
    
 }
   .btn{
    border: brown solid 1px;
   }
   .im{
    height: 200px;
    width: 200px;
 

   }
   .price{
    color: brown;
   }
   
